# 本地环境
**/.DS_Store
**/.local/*
**/.venv/*
**/.conda/*
**/.taskfile/.env

# 临时目录
**/tmp/**
**/log/**
**/logs/**
**/temp/**
**/cache/**

# 后缀匹配
**/*.log

## python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw

# golang
main

# build
/bin/
/build/
/dist/

# 配置文件 (保留示例)
config.yaml
/configs/config.yaml
